<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Recoginition Attandence System</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./css/favicon.svg" type="image/svg+xml">
  
  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/style_index.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet">
</head>

<body id="top">





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-banner">

            <img src="./css/hero-banner.jpg" width="800" height="864" loading="lazy" alt="Ethan's Photo"
              class="img-cover">

            <div class="elem elem-1">
              <p class="elem-title">Upload</p>

              
            </div>

            <div class="elem elem-2">
              <p class="elem-title">Classify</p>

               
            </div>

            <div class="elem elem-3">
              <ion-icon name="trophy"></ion-icon>
            </div>

             
          </div>

          <div class="hero-content">

            <h2 class="hero-title">
              <span>Stay accurate with our </span>
              <strong>Attandence Management System</strong> Web Application
            </h2>

            <p class="hero-text">
              Automate end-to-end attendance tracking
              Track employee attendance in real-time
              Ensure compliance with labor laws
              Gain a clear picture of attendance patterns
            </p>

            <div class="btn-group">
              <a href="/attendence" class="btn btn-primary blue">View Attendance</a>

               
            </div>

          </div>

        </div>
      </section>




 