table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	font-size: 16px;
	font-family: Arial, sans-serif;
  }
  
  th {
	background-color: #142cb2;
	color: rgb(191, 215, 221);
	font-weight: bold;
	padding: 10px;
	text-align: left;
  }
  
  td {
	border: 1px solid #ddd;
	padding: 10px;
  }
  
  tr {
	background-color: #95cbed;
  }
  
  tr:hover td {
	background-color: #ddd;
	color: #333;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
  }
  body {
    background-color:#7f96df;
  }
